* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.gap22{
    gap: 22px;
}

.gap10{
    gap: 10px;
}

.marginT70{
    margin-top: 70px;
}

.marginT20{
    margin-top: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexNoWrap {
    display: flex;
}

.flex-direction{
    flex-direction: column;
}

.reverse {
    flex-direction: row-reverse;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-content{
    align-content: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}



.CTA {
    background: #44DD8A;
    background: linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%);
    padding: 11px 25px;
    border-radius: 6px;
}

.CTA2 {
    background: #FFFFFF;
    padding: 11px 25px;
    border-radius: 6px;
}


.container-1000 {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}


/* header */
header {
    background-color: #152237;
    height: 8vh;
    align-content: center;

    p {
        color: white;
    }

    nav {
        max-width: 90%;
    }

    img {
        width: 7vh;
    }
}


a {
    text-decoration: none;
    color: #152237;
}


input {
    padding: 12px 16px;
    width: 400px;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    background-color: #152237;
    color: white;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-right: 20px;
}


/* hero  */
.sectionHero {
    background-image:linear-gradient(120deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 0.2) 100%),url("ressources/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 50vh;

    h2{
        font-size: 48px;
        font-weight: 800;
    }

    h1{
        font-size: 20px;
        font-weight: 500;
    }

}

/* formations populaires  */
.FormPopulaires{
    h3{
        font-size: 36px;
        font-weight: 800;
    }
}

.cardPopulaires{
    h4{
        font-size: 24px;
        font-weight: 600;
    }
}



