/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

/*--------------------------------------------------
Variables
----------------------------------------------------*/
:root {
    --Blanc: #FFFFFF;
    --BleuSombre: #152237;
    --gap: 32px;
}

/*--------------------------------------------------
Container et responsive
---------------------------------------------------*/
.container {
    width: 100%;
    padding: 16px;
}

.container-1500 {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.container-1200 {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.responsive {
    /*Les images doivent d'adapter a leur parents*/
    width: 100%;
    height: auto;
    object-fit: cover;
    /* jouez sur ces proprietés pour recadrer / agrandir l'image */
    object-position: center;
}

/*--------------------------------------------------
Mise en page flex
---------------------------------------------------*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.reverse {
    flex-direction: row-reverse;
}

.justify-start {
    justify-content: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.alternate>div:nth-child(2n) {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.gap {
    gap: var(--gap);
}

.gap22 {
    gap: 22px;
}

.gap10 {
    gap: 10px;
}

.W50 {
    width: 700px;
}

/*--------------------------------------------------
Largeurs et colonnes
---------------------------------------------------*/

/*Desktop*/
.large-1 {
    width: calc(8.3333333333% - 11 * var(--gap) / 12);
}

.large-2 {
    width: calc(16.6666666667% - 5 * var(--gap) / 6);
}

.large-3 {
    width: calc(25% - 3 * var(--gap) / 4);
}

.large-4 {
    width: calc(33.3333333333% - 2 * var(--gap) / 3);
}

.large-5 {
    width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
}

.large-6 {
    width: calc(50% - 1 * var(--gap) / 2);
}

.large-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
}

.large-8 {
    width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
}

.large-9 {
    width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
}

.large-10 {
    width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
}

.large-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
}

.large-12 {
    width: calc(100% - 0 * var(--gap) / 1);
}

/*Tablets*/
@media all and (max-width: 700px) {
    .medium-1 {
        width: calc(8.3333333333% - 11 * var(--gap) / 12);
    }

    .medium-2 {
        width: calc(16.6666666667% - 5 * var(--gap) / 6);
    }

    .medium-3 {
        width: calc(25% - 3 * var(--gap) / 4);
    }

    .medium-4 {
        width: calc(33.3333333333% - 2 * var(--gap) / 3);
    }

    .medium-5 {
        width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
    }

    .medium-6 {
        width: calc(50% - 1 * var(--gap) / 2);
    }

    .medium-7 {
        width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
    }

    .medium-8 {
        width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
    }

    .medium-9 {
        width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
    }

    .medium-10 {
        width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
    }

    .medium-11 {
        width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
    }

    .medium-12 {
        width: calc(100% - 0 * var(--gap) / 1);
    }
}

/*Smartphones*/
@media all and (max-width: 440px) {
    .small-1 {
        width: calc(8.3333333333% - 11 * var(--gap) / 12);
    }

    .small-2 {
        width: calc(16.6666666667% - 5 * var(--gap) / 6);
    }

    .small-3 {
        width: calc(25% - 3 * var(--gap) / 4);
    }

    .small-4 {
        width: calc(33.3333333333% - 2 * var(--gap) / 3);
    }

    .small-5 {
        width: calc(41.6666666667% - 1.4 * var(--gap) / 2.4);
    }

    .small-6 {
        width: calc(50% - 1 * var(--gap) / 2);
    }

    .small-7 {
        width: calc(58.3333333333% - 0.7142857143 * var(--gap) / 1.7142857143);
    }

    .small-8 {
        width: calc(66.6666666667% - 0.5 * var(--gap) / 1.5);
    }

    .small-9 {
        width: calc(75% - 0.3333333333 * var(--gap) / 1.3333333333);
    }

    .small-10 {
        width: calc(83.3333333333% - 0.2 * var(--gap) / 1.2);
    }

    .small-11 {
        width: calc(91.6666666667% - 0.0909090909 * var(--gap) / 1.0909090909);
    }

    .small-12 {
        width: calc(100% - 0 * var(--gap) / 1);
    }
}

/*--------------------------------------------------
Margins and paddings
---------------------------------------------------*/
.mt-64 {
    margin-top: 64px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-100 {
    margin-top: 100px;
}

.p-16 {
    padding: 16px;
}

/* Margin */

.marginT5 {
    margin-top: 5px;
}

.marginT10 {
    margin-top: 10px;
}

.marginT20 {
    margin-top: 20px;
}

.marginT30 {
    margin-top: 30px;
}

.marginT40 {
    margin-top: 40px;
}

.marginT50 {
    margin-top: 50px;
}

.marginT60 {
    margin-top: 60px;
}

.marginT70 {
    margin-top: 70px;
}

.marginT80 {
    margin-top: 80px;
}

.marginT90 {
    margin-top: 90px;
}

.marginT100 {
    margin-top: 100px;
}

.marginT150 {
    margin-top: 150px;
}

/* Paddings */

.paddingT10 {
    padding-top: 10px;
}

.paddingT20 {
    padding-top: 20px;
}

.paddingT30 {
    padding-top: 30px;
}

.paddingT40 {
    padding-top: 40px;
}

.paddingT50 {
    padding-top: 50px;
}

.paddingT60 {
    padding-top: 60px;
}

.paddingT70 {
    padding-top: 70px;
}

.paddingT80 {
    padding-top: 80px;
}

.paddingT90 {
    padding-top: 90px;
}

.paddingT100 {
    padding-top: 100px;
}

.paddingB50 {
    padding-bottom: 50px;
}

/*--------------------------------------------------
Boutons
---------------------------------------------------*/

.CtaHeader1 {
    background: #44DD8A;
    background: linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%);
    padding: 11px 25px;
    border-radius: 6px;
    color: var(--BleuSombre);
}

.CtaHeader2 {
    background: var(--Blanc);
    padding: 11px 25px;
    border-radius: 6px;
    color: var(--BleuSombre);
    margin-right: 19px;
}

.CtaHero1 {
    background: var(--Blanc);
    padding: 11px 14px;
    border-radius: 6px;
    color: var(--BleuSombre);
}

.CtaFormPlus {
    background-color: var(--BleuSombre);
    padding: 11px 26px;
    border-radius: 6px;
    color: var(--Blanc);
}

.CtaFormRecente {
    background-color: var(--Blanc);
    padding: 11px 26px;
    border-radius: 6px;
    color: var(--BleuSombre);
}

.CtaContact {
    border-radius: 6px;
    background: #44DD8A;
    padding: 15px 0px;
    width: 40%;
    color: var(--BleuSombre);
    text-align: center;
}

.CtaFooter1 {
    background: #44DD8A;
    background: linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%);
    padding: 11px 25px;
    border-radius: 6px;
    color: var(--BleuSombre);
    align-self: flex-start;
    min-width: 150px;
    text-align: center;
}

.CtaFooter2 {
    background: var(--Blanc);
    padding: 11px 25px;
    border-radius: 6px;
    color: var(--BleuSombre);
    align-self: flex-start;
    min-width: 150px;
    text-align: center;
}

/*--------------------------------------------------
Header
---------------------------------------------------*/
header {
    background-color: var(--BleuSombre);
    height: 9vh;
    align-content: center;

    input {
        padding: 12px 16px;
        width: 477px;
        border: 2px solid var(--Blanc);
        border-radius: 10px;
        background-color: var(--BleuSombre);
        color: var(--Blanc);
        font-size: 16px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        margin-right: 20px;
    }

    img {
        width: 100px;
    }

    i {
        color: var(--Blanc);
        font-size: 40px;
        margin-right: 20px;
    }
}

.CTAform {
    color: var(--Blanc);
    font-size: 20px;
    font-weight: 200;
}

#searchBar {
    display: flex;
    align-items: center;
    position: relative;
    width: 477px;

    i {
        position: absolute;
        right: 20px;
        color: var(--Blanc);
        pointer-events: none;

    }
}

/*--------------------------------------------------
Hero
---------------------------------------------------*/

.Hero {
    background: linear-gradient(94deg, rgba(68, 221, 138, 0.80) 3.11%, rgba(21, 183, 226, 0.80) 98.45%), url("assets/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 50vh;
    color: var(--BleuSombre);

    h2 {
        color: var(--BleuSombre);
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.72px;
        text-transform: uppercase;
        text-align: center;
    }

    h1 {
        color: var(--BleuSombre);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.3px;
        text-transform: uppercase;
    }

}


@media (max-width: 1100px) {

    header a {
        display: none;

    }

    #searchBar {
        display: none;
    }

    header {

        .flex>div:last-child {
            display: none;
        }
    }


    .flex.justify-between.align-center.container-1500 {
        justify-content: space-between;
    }

    #burger {
        display: block;

    }

}

@media (min-width: 1100px) {
    #burger {
        display: none;
    }
}

@media screen and (max-width: 733px) {
    .titreForm {
        justify-content: center;
        text-align: center;
    }

    .AvisMobile {
        justify-content: center;
    }


    .CardAvis {


        p {
            text-align: center;
        }
    }


    .etoileAvis {
        width: 100%;
        justify-content: center;
        display: flex;
        gap: 5px;
    }

    .titleAvis {
        text-align: center;
    }

}

@media (max-width: 350px) {
    .Hero {
        h2 {
            font-size: 25px;
        }

        h1 {
            font-size: 13px;
        }
    }
}


@media screen and (max-width: 1353px) {

    .containerAvantage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;


        h2 {
            text-align: center;

        }

        .img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
    }

    .CardAvantage {
        justify-content: center;
        display: contents;


    }



    .containerReverse {
        display: grid;
        grid-template-columns: 1fr;
    }

    .OrderTitre {
        order: 1;
        text-align: center;

    }

    .OrderImg {
        order: 2;
        max-width: 727px;
        margin-left: auto;
        margin-right: auto;
    }

    .OrderList {
        order: 3;
    }

    .Apropos {
        flex-direction: column;
        justify-content: center;
        gap: 50px;


        .Gauche {
            padding: 50px 0px;
            width: 90%;

            h2 {
                text-align: center;
            }
        }

        .Droite {
            width: 100%;
        }
    }


}

@media (max-width: 500px) {
    .Contact h2 {
        border-bottom: none !important;
        padding-bottom: 0;
    }

    .CardAvantage {
        ul {
            margin: 0;
        }

        h2 {
            line-height: 1.5 !important;
        }

    }



    .NomEmail {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        gap: 20px;

        input {
            width: 100% !important;
            box-sizing: border-box;
        }
    }

    .Message {
        input {
            margin-top: 0;
            margin-top: 20px;
        }
    }


    .CtaContact {
        width: 100%;
    }

    .LigneVerte {
        background: linear-gradient(90deg, #44DD8A 0%, #3BD0A2 100%) !important;
    }
}

@media (min-width: 1353px) {
    .CardAvantage {
        width: 45%;
    }
}

.titreDynamic::before {
    content: "CRÉEZ VOS FORMATIONS AVEC KLIVIO";
}

@media (max-width: 1353px) {
    .titreDynamic::before {
        content: "CRÉEZ VOS FORMATIONS";
    }
}

@media screen and (max-width: 825px) {

    .footerMobile {
        display: none;
    }

    .containerFooter {
        border-bottom: none !important;
        flex-direction: column;
        align-content: center;
        gap: 50px;
    }

    .footerCenter {
        text-align: center;
    }

    #contactMobile {
        margin-left: 40px;
    }

}

/*--------------------------------------------------
Les formations populaires
---------------------------------------------------*/

.FormPop {

    h3 {
        color: var(--BleuSombre);
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: 72px;
        letter-spacing: -0.54px;
    }
}


.cardPop {
    width: 340px;

    img {
        width: 100%;
    }

    h4 {
        font-size: 24px;
        font-weight: 600;
    }

    p {
        font-size: 16;
        font-weight: 200;
    }

}

.containerImg {
    position: relative;
    width: 100%;
    display: inline-block;

    img {
        width: 100%;
        display: block;
    }
}


.bullePrix {
    position: absolute;
    bottom: -15px;
    right: 10px;
    background-color: var(--BleuSombre);
    color: var(--Blanc);
    padding: 5px 12px;
    border-radius: 100px;
    font-weight: 900;
    font-size: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
}

.AncienPrix {
    font-size: 10px;
    font-weight: 100;
    margin-left: 5px;
    text-decoration: line-through;
    text-decoration-thickness: 0, 5px;
}


/*--------------------------------------------------
Les formations récentes
---------------------------------------------------*/

.FormRecente {
    background-color: var(--BleuSombre);

    span {
        background-color: var(--Blanc) !important;
        color: var(--BleuSombre) !important;
    }

    h3 {
        font-size: 36px;
        font-weight: 800;
        color: var(--Blanc);
    }
}

.cardRecente {
    width: 340px;

    img {
        width: 100%;
    }

    h4 {
        font-size: 24px;
        font-weight: 600;
        color: var(--Blanc);
    }

    p {
        font-size: 16;
        font-weight: 200;
        color: var(--Blanc);
    }

}

/*--------------------------------------------------
Section avis
---------------------------------------------------*/

.SectionAvis {
    padding-bottom: 50px;

    h2 {
        font-size: 40px;
        font-weight: 900;
        color: var(--BleuSombre);
    }
}

.CardAvis {


    h4 {
        font-size: 36px;
        font-weight: 500;
        color: var(--BleuSombre);
    }

    p {
        font-size: 16px;
        font-weight: 200;
        line-height: 2;
        color: #333333;
    }

    img {
        border-radius: 100px;
    }
}

/*--------------------------------------------------
Section Avantages
---------------------------------------------------*/

.avantages {
    background-color: #F5F5F5;
    padding: 50px 0px;

    h2 {
        color: var(--BleuSombre);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
    }

    p {
        font-size: 24px;
        font-weight: 100;



    }

    li {
        display: flex;
        margin-top: 20px;
    }

    img {
        display: inline;
    }

}

/*--------------------------------------------------
Section Créez vos formations avec Klivio
---------------------------------------------------*/


.Creation {
    background-color: #44DD8A;
    padding: 50px 0px;

    h2 {
        color: var(--BleuSombre);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: -0.6px;

    }

    p {
        font-size: 24px;
        font-weight: 100;



    }


    li {
        display: flex;
        margin-top: 20px;
    }

    img {
        display: inline;
    }

}

/*--------------------------------------------------
À propos de Klivio 
---------------------------------------------------*/

.Apropos {
    background-color: #F5F5F5;
}

.Gauche {

    width: 40%;
    text-align: start;

    h2 {
        color: var(--BleuSombre);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: -0.6px;
    }

    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.27px;
    }
}

.Droite {
    background-color: var(--BleuSombre);
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
        padding: 50px;
        object-fit: contain;
    }
}


/*--------------------------------------------------
Nous contacter
---------------------------------------------------*/


.TitreContact {
    width: 100%;

    h2 {
        color: var(--BleuSombre);
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: -0.6px;
        padding-bottom: 20px;
        border-bottom: #44DD8A solid 1px;
    }
}

.NomEmail {

    input {
        width: 45%;
        height: 45px;
        background-color: var(--BleuSombre);
        color: var(--Blanc);
        box-sizing: border-box;
        padding-left: 15px;
        border: none;
        font-weight: 100;
    }

    input::placeholder {
        color: var(--Blanc);
    }


}

.Message {
    input {
        width: 100%;
        height: 200px;
        background-color: var(--BleuSombre);
        color: var(--Blanc);
        text-align: left;
        padding-top: 5px;
        padding-left: 15px;
        padding-bottom: 160px;
        box-sizing: border-box;
        border: none;
        font-weight: 100;
    }

    input::placeholder {
        color: var(--Blanc);
    }
}

.LigneVerte {
    width: 100%;
    height: 18px;
    background: linear-gradient(90deg, #44DD8A 2.38%, #18A0FB 100%);
}


/*--------------------------------------------------
Footer
---------------------------------------------------*/

footer {
    background-color: var(--BleuSombre);
    padding: 100px 0px;
    color: var(--Blanc);

    h5 {
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
    }

    li {
        font-size: 15px;
        font-style: normal;
        font-weight: 100;
        margin-top: 10px;
    }
}

.containerFooter {
    border-bottom: #44DD8A solid 1px;
    padding-bottom: 50px;
}

.logoFooter {
    width: 243px;
    height: 87px;

    img {
        width: 100%;
    }
}